*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: auto;
}

header{
    background-color: #EAC926;
    padding: 10px;
}

.logo{
    width: 45%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-logo{
    width: 80%;
}

.input-button{
    width: 45%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.input-busq{
    border: none;
    color: #ebebeb;
    border-radius: 4px 0px 0px 4px;
    font-size: 11px;
    height: 25px;
    width: 80%;
    padding: 20px;


}

.button{
    background-color: white;
    border: none;
    color: #666;
    font-size: 15px;
    text-align: center;
    height: 40px;
    width: 15%;

    border-radius: 0px 4px 4px 0px;
}

.comprar{
    text-align: center;
    margin: 20px;
}

.nav_bar{
    display: none;
    margin-bottom: 20px;
    font-size: 13px;
}

.nav_barra-1{
    display: flex;
    width: 45%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav_barra-2{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-evenly;
}

.enlace{
    text-decoration: none;
    color: black;
}

.contenedor-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.contenedor-burger {

    display: flex;
    background-color: #1259c3;
    border-radius: 5px;
    margin: auto;
    height: 35px;
    width: 35px;
}

.burger-menu{
    justify-content: center;
    align-content: center;
    background-color: #1259c3;
    color: white;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
  
}













.form-login{
    text-align: left;
    width: 80%;
}

.input-text{
    border: none;
    color: black;
    border-radius: 4px;
    font-size: 11px;
    height: 25px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.btn{
    width: 100%;
    color: white;
    background-color: #1259c3;
    border-radius: 4px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #0022AA;
}


.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}




footer{
    text-align: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
}

.cuerpo{
    font-size: 12px;
}


.icon-footer{
    color: #1259c3;
    font-size: 2em;
    margin: auto;
    cursor: pointer;
}

.icon-footer:hover{
    color: #39b54a;
}

.copi-footer{
    width: 100%;
    color: #666;
}

.copi{
    font-size: 12px;
}

.des-footer{
    font-size: 11px;
    color: #666;
    margin-bottom: 15px;
}

h4{
    font-size: 15px;
    margin-top: 15px;
}










@media (min-width: 769px) {
    .contenedor-burger{
        display: none;
    }
    .nav_bar{
        display: block;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .comprar{
        width: 30%;
    }
    .logo{
        width: 30%;
    }
    .input-button{
        width: 30%;
    }
}

@media (min-width: 1024px) {
 
    .img-logo{
        width: 70%;
    }
    .seccion-footer{
        width: 30%;
    }

    .copi-footer{
        text-align: left;
        padding: 10px;
    }
    
    .form-login{
     width: 60%;
    }
}













